/* remove the overlay that pops up when your credentials expire */
.ui-widget-overlay, .I3C, .C3C {
  display: none !important;
}

/* RDS security group box */
#rds-instances-modify-dlg-security-grp-multi-slct-bx {
  width: 500px !important;
  height: 300px !important;
}

/* CodeDeploy target dropdown */
.autocomplete-values-instance {
  width: 600px !important;
}
