/* remove the overlay that pops up when your credentials expire */
.ui-widget-overlay, .I3C, .C3C {
  display: none !important;
}

/* Launch Configuration/ASG/ELB/VPC filter box */
#gwt-debug-searchTextBox, .elb-LAB .gwt-TextBox, #gwt-debug-resourceFilterBox {
  min-width: 350px;
}

/* de-bold navigation tabs to stop distracting UI reflows when clicking them */
.gwt-TabLayoutPanelTab-selected {
  font-weight: normal !important;
}

/* RDS and ElastiCache security group boxes */
#rds-launch-wizard-security-grps-multi-slct-bx,
#rds-instances-modify-dlg-security-grp-multi-slct-bx,
#ecs-modify-cache-cluster-dlg-vpc-sg-slctbx,
#ecs-modify-rg-sg-slctbx {
  width: 500px !important;
  height: 300px !important;
}

/* ElastiCache Redis/Memcached creation wizard security group box */
.GBCBRI5BLYE, .GBCBRI5BEYE {
  height: 400px !important;
  width: 700px !important;
}

/* CodeDeploy target dropdown */
.autocomplete-values-instance {
  width: 600px !important;
}

/* IAM policy dropdown */
.actionsOptions {
  min-height: 400px;
  min-width: 400px;
}

/* Launch configuration user data text box. O2G = autoscaling console, GIH = ec2 console, EQ = ec2 launch wizard, IX = launch configuration wizard */
.O2G, .GIH {
  margin: 0 !important;
}
.O2G textarea, .GIH textarea {
  width: 600px !important;
  min-height: 400px;
  resize: vertical;
  font-family: monospace !important;
  white-space: pre;
}
textarea.EQ, textarea.IX {
  min-height: 200px;
}

/* EC2 system log */
.F5C { /* dialogTopCenter */
  font-size: 100% !important;
}
.JAH { /* dialogMiddleCenter */
  font-family: "Courier New" !important;
  width: 900px !important;
  height: 650px !important;
}

/* EBS popup window in the EC2 console wraps the attachment timestamp by default */
.gwt-PopupPanel:not(.JVB) .HFB {
  min-width: 500px;
}

/* "Are you launching a database instance? Try Amazon RDS." in the ec2 launch wizard */
.rds_campaign_cell {
  display: none;
}
/* "Just need a simple virtual private server? Try Amazon Lightsail for free." in the ec2 dashboard */
.IE awsui-alert {
  display: none !important;
}
