/* remove the overlay that pops up when your credentials expire */
.ui-widget-overlay, .I3C, .C3C {
  display: none !important;
}

/* RDS and ElastiCache security group boxes */
#rds-launch-wizard-security-grps-multi-slct-bx,
#rds-instances-modify-dlg-security-grp-multi-slct-bx,
#ecs-modify-cache-cluster-dlg-vpc-sg-slctbx,
#ecs-modify-rg-sg-slctbx {
  width: 500px !important;
  height: 300px !important;
}

/* ElastiCache Redis/Memcached creation wizard security group box */
.GKIC3DMLYE, .GKIC3DMEYE {
  height: 400px !important;
  width: 700px !important;
}

/* CodeDeploy target dropdown */
.autocomplete-values-instance {
  width: 600px !important;
}

/* IAM policy dropdown */
.actionsOptions {
  min-height: 400px;
  min-width: 400px;
}
