#save {
  min-width: 125px;
}

details p {
  margin-bottom: 0.5em;
}

#debug {
  width: 100%;
  height: 600px;
}

.font-amazon-new {
  /* font-family: "Amazon Ember", "Helvetica Neue", Roboto, Arial, sans-serif; */
  font-weight: 700;
  font-size: small;
}
[data-bs-theme="light"] .font-amazon-new {
  color: rgb(0, 115, 187);
  border-bottom: 1px dashed rgb(0, 115, 187);
}
[data-bs-theme="dark"] .font-amazon-new {
  color: rgb(68, 185, 214);
  border-bottom: 1px dashed rgb(68, 185, 214);
}

.tooltip-inner {
  text-align: start;
  --bs-tooltip-max-width: 700px;
}
.tooltip-inner img {
  max-width: 100%;
}
